body{
    margin:auto;
    background:rgb(250, 244, 244);
}

img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	/* background-size: cover; */
	z-index: -1;
    /* background-color: #80a3db; */
    padding-bottom: 400px;
}

a{
    color:white;
}

#about{
    margin-top:600px;
}

h1{
    color:white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
}

/* nav{
    list-style:none;
    color:white;
} */

h2,p{
    color: black;
    font-family: 'Merriweather', serif;
    /* text-align:center; */
    flex-wrap:flex;
    padding-left: 40px;
    padding-right: 40px;
    
}

p{
   font-size:18px;
}

.link{
    color:navy;
}


/* header.masthead {
    text-align: center;
    color: white;
    background-image: url("./assets/img/forest.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  } */

nav {
	display: flex;
    /* margin-right: -15px; */
    color:white;
    /* text-align:right; */
    float:right;
}

li {
    margin: 0 15px;
    color:white;
}

section{
    background:#fff;
    opacity:0.5;
}

/* @media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
    }
} */