body{
    margin:auto;
    background: black;
}

.first{ 
    position: relative;
    margin-top: 17px;
	top:40px;
	left: 0;
	width: 125%;
} 

.firstone{
    width:100%;
    height:100%;
    position:absolute;
} 

a{
    color:white;
    padding-top:20px;
}

a.nr{
    font-size: 30px;
    text-decoration:bold;
    padding-left:50px;
}


#about{
    margin-top: 130%;
    /* text-align: center; */
    text-decoration: bold;
}
h2{
    text-align: left;
    padding-left:0;
}

#online{
    padding-left: 0px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
/* .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  } */

  /* IG icon */
.fab{
      color:white;
      /* align-content: center; */
      padding-left: 50px;
      
}
/* email icon */
.far{
    color:white;
    padding-left:50px;
    
}

footer{
    color:rgb(88, 88, 88);
    float:right;
}

img.cover{
    width: 100%;
    height: 420px;
    border-radius: 22%;
    
}

img.cover:hover{
      opacity: 0.5;
}
  
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }

/* Artist style page */
.artpage{
    font-family:'Pacifico', cursive;
    text-align: center;
    font-size: 66px;
    margin-top:250px;
}

/* newsletter box styling */
h3{
    text-align: left;
    padding-left:10px;
    color: white;
    font-family: 'Merriweather', serif;
    flex-wrap:flex;

}
.nl{
    padding-left:15px;
}
.newsletter{
    color:slategrey;
    font:white;
    font-size:22px;
}
  
/* Holy Roller page styles */

/* .holyroller1,.holyroller2,.holyroller3, .holyroller4, .holyroller5, .holyroller6{
    width: 200px;
    height:200px
} */
.hr{
    margin-top: 857px;
    margin-left: -28px;
}
button{
    font-size:16px;
    background:black;
    margin-left: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #111;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 323px;
	bottom: 547px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

#enter{
    color: black;
    font-size: 20px;
    float:right;
    -webkit-animation: enterbutton 1s infinite;  /* Safari 4+ */
    -moz-animation: enterbutton 1s infinite;  /* Fx 5+ */
    -o-animation: enterbutton 1s infinite;  /* Opera 12+ */
    animation: enterbutton 1s infinite;  /* IE 10+, Fx 29+ */
}
      
@-webkit-keyframes enterbutton {
    0%, 49% {
        background-color: rgb(94, 95, 93);
        border: 3px solid black;
    }
    50%, 100% {
        background-color: black;
        border: 3px solid rgb(94, 95, 93);
    }
} 

h1{
    color:white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
}

h2{
    /* text-align: center; */
    text-decoration: bold;
    color: white;
    font-size:36px;
}

h2,p{
    color: white;
    font-family: 'Merriweather', serif;
    flex-wrap:flex;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    
} 

p{
   font-size:22px;
}

.link{
    color: whitesmoke;
}

/* .navbar navbar-expand-sm navbar-dark bg-dark {
	display: flex;
    /* margin-right: -15px; */
    /* color:#313233; */
    /* font:white; */
    /* text-align:right; */
    /* float:right; */
    /* margin-top:-160px; */
    /* margin-bottom: 100px; */

/* }    */ */


li {
    margin: 0 15px;
    color:white;
}

/* section{
    background:#fff;
    opacity:0.5;
} */

/* btn btn-dark btn-xs songlink{
    text-align: center;
    padding-left: 40px;

} */
/* .songlink{
    color:white;
    padding-left:205px;
} */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    #about{
        margin-top:15%; 
    }
    .first{ 
        /* position: absolute; */
        margin-top: 35px;
        /* margin-left:50px; */
        width: 100%;
        border-radius:33px;
    } 
    img.cover{
        width: 106%;
        height: 420px;
        border-radius: 7%;
        
    }
    .topnav{
        width: 125%;
        background:rgb(33, 33, 34);
        padding-top:10px;
        padding-bottom:30px;
        font-size:22px;
    }
    .nava{
        padding-left:35px;
        
    }
    /* .col-lg-3{
        display:flex;
        width:50%;
        margin-bottom:40px;
    } */
    
    
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
@media (min-width: 1025px) and (max-width: 1280px) {
    
    #about{
        margin-top:20%; 
    }
    .topnav{
        width: 125%;
        background:rgb(33, 33, 34);
        padding-top:10px;
        padding-bottom:30px;
        font-size:22px;
    }
    .nava{
        padding-left:35px;
        
    }
    .col-lg-3{
        display:flex;
        width:50%;
        margin-bottom:40px;
    }
    
    
}
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) {
    #about{
        margin-top:100%; 
    }
    .topnav{
        width: 125%;
        background:rgb(33, 33, 34);
        padding-top:10px;
        padding-bottom:30px;
        font-size:22px;
    }
    .nava{
        padding-left:35px;
        
    }
    .col-lg-3{
        display:flex;
        width:50%;
        margin-bottom:40px;
    }
    
}
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* .topnav{
        width: 125%;
        background:rgb(33, 33, 34);
        padding-top:20px;
        padding-bottom:10px;
    }
    .nava{
        padding-left:15px;
    }
    img.cover{
        width: 30px;
        height: 200px;
        margin-bottom: 100px;
        /* justify-content: center; */
            /* background-size:cover; */
    /* }  */
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {
#about{
    margin-top:20%;
}
    
.topnav{
    width: 125%;
    background:rgb(33, 33, 34);
    padding-top:20px;
    padding-bottom:10px;
}
.nava{
    padding-left:20px;
}
img.cover{
    width: 420px;
    height: 400px;
    margin-bottom: 100px;
    padding-left:40px;
    /* justify-content: center; */
        /* background-size:cover; */
}
    
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
    
/* p{
    background:pink;
} */
    .first{
        width:100%;
            /* margin-top: 176px; */
    }
    #about{
        margin-top: 25%;
    } 
    .topnav{
        width: 100%;
        background:rgb(33, 33, 34);
        padding-top:20px;
        padding-bottom:10px;
    }
    .nava{
        padding-left:15px;
    }
    p{
        text-align: left;
    }
    p{
        font-size: 12px;
    }
    h2{
        font-size: 30px;
        text-align:left;
    }
    img.cover{
        width: 330px;
        height: 400px;
        margin-bottom: 50px;
        padding-left:10px;
        border-radius: 22px;
    }
    #song{
        padding-left:3px;
        font-size:18px;
    }
    #fire{
        padding-left:1px;
        font-size:24px;
    }
    a.nr{
        font-size: 20px;
        /* text-decoration:bold; */
        padding-left:50px;
        text-align:center;
    }
    .white-mode {
        text-decoration: none;
        padding: 7px 10px;
        background-color: #122;
        border-radius: 3px;
        color: #FFF;
        transition: .35s ease-in-out;
        position: absolute;
        left: 46px;
        bottom: 378px;
        font-family: "Montserrat";
    }
    h3{
        font-size: 18px;
    }
    
    
}  
   
  







  /* DONT EVEN BOTHER BELOW HERE */
  /* @media screen and (max-width: 500px) {
    
   

    /* img .cover{
        width: 420px;
        height: 400px;
        margin-bottom: 100px;
        justify-content: center;
        /* background-size:cover; */
    /* } */ 

    /* .new{
        font-size: 16px;
    }
    
    footer{
        text-align: left;
        font-size: 10px;
    } */
    /* .row {
            text-align: center;
        }
    h1, p{
        text-align: center;
    } */
   

  /* } */

  /* @media screen and (max-width: 576px) { */
    /* body{
        margin:auto;
    } */
    
    /* .first{
        width:125%;
        margin-top: 176px;
    }
    #about{
        margin-top: 145%;
    }
    .new{
        font-size: 16px;
    }
    
    footer{
        text-align: left;
        font-size: 10px;
    }
    .row {
            text-align: center;
        }
    
    .fab, .far{
        float: left;
        font-size:18px;
    } */
/* .navbar navbar-expand-sm navbar-dark bg-dark{
    width: 100%;
    /* margin:auto; */
    /* margin-bottom: 100px; */
/* } */ 

  /* } */

