body{
    margin:auto;
    background: black;
}

.first {
	position: absolute;
	top:40px;
	left: 0;
	width: 100%;
	/* height: 700px; */
	background-size: cover;
	z-index: -1;
    /* background-color: #80a3db; */
    /* padding-bottom: 400px; */
}

.firstone{
    min-height: 100%;
    min-width: 1024px;
    width:100%;
    height:auto;
    position:fixed;
    top:0;
    left:0;
}

@media screen and (max-width: 1024px){
    .firstone{
        left:50%;
    }
}



a{
    color:white;
    padding-top:20px;
}

#about{
    margin-top:1090px;
    text-align: center;
    text-decoration: bold;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .fab{
      color:white;
      align-content: center;
      padding-left: 380px;
      
  }
  .far{
    color:white;
    padding-left:380px;
    
}

  footer{
      color:rgb(88, 88, 88);
      float:right;
  }

  img.cover{
        width: 100px;
        height: 420px;
        /* background: red; */
        border-radius: 22%;
    
  }
  img.cover:hover{
      opacity: 0.5;
  }
  
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

#enter{
    color: white;
    font-size: 20px;
    background: black;
    /* box-align: center; */
    /* padding-right: 50% */
    margin-top: 17%;
    margin-left:48%;


}

h1{
    color:white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
}

h2{
    text-align: center;
    text-decoration: bold;
    color: white;
    font-size:26px;
}

h2,p{
    color: white;
    font-family: 'Merriweather', serif;
    /* text-align:center; */
    flex-wrap:flex;
    padding-left: 40px;
    padding-right: 40px;
    
}

p{
   font-size:18px;
}

.link{
    color: whitesmoke;
}

nav {
	display: flex;
    /* margin-right: -15px; */
    color:white;
    /* text-align:right; */
    float:right;
    margin-top:-160px;

}

li {
    margin: 0 15px;
    color:white;
}

section{
    background:#fff;
    opacity:0.5;
}
.songlink{
    color:white;
    padding-left:205px;
}

/* @media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
    }
} */
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }