body{
    margin:auto;
    background:rgb(250, 244, 244);
}

.first {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	background-size: cover;
	z-index: -1;
    /* background-color: #80a3db; */
    /* padding-bottom: 400px; */
}

.first{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 700px; */
        background-size: cover;
        z-index: -1;
        /* background-color: #80a3db; */
        /* padding-bottom: 400px; */
    
}

a{
    color:white;
    padding-top:20px;
}

#about{
    margin-top:800px;
    text-align: center;
    text-decoration: bold;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  img.cover{
      width: 450px;
      height: 425px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

#enter{
    color: white;
    font-size: 20px;
    background: black;
    /* box-align: center; */
    /* padding-right: 50% */
    margin-top: 17%;
    margin-left:48%;


}

h1{
    color:white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
}

h2{
    text-align: center;
    text-decoration: bold;
}

h2,p{
    color: black;
    font-family: 'Merriweather', serif;
    /* text-align:center; */
    flex-wrap:flex;
    padding-left: 40px;
    padding-right: 40px;
    
}

p{
   font-size:18px;
}

.link{
    color:navy;
}


/* header.masthead {
    text-align: center;
    color: white;
    background-image: url("./assets/img/forest.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  } */

nav {
	display: flex;
    /* margin-right: -15px; */
    color:white;
    /* text-align:right; */
    float:right;
    margin-top:-160px;

}

li {
    margin: 0 15px;
    color:white;
}

section{
    background:#fff;
    opacity:0.5;
}
.songlink{
    color:black;
    padding-left:205px;
}

/* @media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
    }
} */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }